.background {
  background-image: url("assets/images/background.png");
  -fx-background-image: url("assets/images/background.png");
  background-size: cover;
  -fx-background-size: cover;
  background-position: center center;
  -fx-background-position: center center;
}